/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* ---------- Variables ---------- */

:root {
  --main: #25bb64;
  --light-accent: #73c2d4;
  --dark-accent: #513d47;
  --light: #fcfafb;
  --dark: #08080c;
  --dark-trans: #08080c70;
  --dark-trans-light: #08080c33;
  --red: lightcoral;
  --heading-font: "Fredoka One", serif;
  --body-font: "Nunito", sans-serif;
  --breakpoint-1: 650px;
  --breakpoint-2: 1200px;
  --card-size: 250px;
  --bottom-margin: 0 0 15px 0;
  --bigger-margin: 0 0 30px 0;
  --box-shadow: 4px 8px 16px 0px var(--dark-trans);
  --box-shadow-light: 4px 8px 16px 0px var(--dark-trans-light);
  --box-shadow-top: 0 0 8px 0px var(--dark-trans);
  --box-shadow-inset: inset 0px 1px 4px 1px var(--dark-trans);
  --default-radius: 8px;
  --border-radius: 8px;
}

/* ---------- Base ---------- */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--body-font);
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin: 0 0 1rem 0;
  font-weight: 400;
}

a {
  color: var(--main);
  font-family: var(--heading-font);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

label {
  font-weight: 700;
}

button, input, .button-link {
  padding: .5rem;
  margin-bottom: 1rem;
  border-width: 1px;
  border-color: var(--dark-trans-light);
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
}

/* ---------- Util ---------- */

/* ----- Containers ----- */

.container {
  display: flex;
  width: 100%;
}

@media (min-width: 700px) {
  .container {
    max-width: var(--breakpoint-2);
  }
}

.container-top-level {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 700px) {
  .container-center {
    max-width: var(--breakpoint-2);
  }
}

.container-col {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .container-col {
    max-width: var(--breakpoint-2);
  }
}

/* ----- Mods ----- */

.shadow {
  box-shadow: var(--box-shadow);
}

.shadow-light {
  box-shadow: var(--box-shadow-light);
}

.radius {
  border-radius: var(--border-radius);
}

.mb-1 {
  margin-bottom: 1rem;
}

/* ----- Colours ----- */

.bg-main {
  background-color: var(--main);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light-accent {
  background-color: var(--light-accent);
}

.bg-dark-accent {
  background-color: var(--dark-accent);
}

.bg-red {
  background-color: var(--red);
}

.fg-main {
  color: var(--main);
}

.fg-light {
  color: var(--light);
}

.fg-dark {
  color: var(--dark);
}

.fg-light-accent {
  color: var(--light-accent);
}

.fg-dark-accent {
  color: var(--dark-accent);
}

.fg-red {
  color: var(--red);
}

/* ---------- Header ---------- */

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .container-header {
    max-width: var(--breakpoint-2);
  }
}

/* ---------- Footer ---------- */

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

@media (min-width: 700px) {
  .container-footer {
    max-width: var(--breakpoint-2);
  }
}

.container-footer button {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--dark);
}